@font-face {
  font-family: "norsebold";
  src: url("fonts/norse/norse-bold_1-webfont.woff2") format("woff2"),
    url("fonts/norse/norse-bold_1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.left {
  width: 35%;
  background-image: url(images/formBackground.jpg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}
header {
  font-size: clamp(2rem, 5vmin, 3rem);
}
header > div.logo-title {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 6rem 0;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo > img {
  width: 2em;
  height: 2.5em;
}

div.logo-title > div.title {
  color: white;
  font-family: "norsebold", sans-serif;
  align-self: center;
  font-size: 1em;
}

footer.photo-credit {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: auto;
  color: white;
  font-size: clamp(0.5rem, 1vw, 0.9rem);
}
footer.photo-credit > a {
  text-decoration: underline;
  color: white;
}
.right {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.right > div {
  height: 100%;
}

.right > .right-top,
.right > .right-middle,
.right > .right-bottom {
  height: 33%;
}

.right > .right-top,
.right > .right-bottom {
  background-color: #f9fafb;
}
.right-top {
  overflow-y: scroll;
  min-height: 1.3rem;
}
.right-top::-webkit-scrollbar {
  display: none;
}
.right-top > .top-text {
  font-size: clamp(1rem, 3.5vmin, 3rem);
  font-weight: 400;
  padding: 2rem;
}
.right > .right-middle {
  box-shadow: inset 1px -5px 4px 0px rgb(0 0 0 / 10%);
}
.right-bottom {
  display: flex;
  flex-direction: column;
  min-height: 12.6rem;
}
.form-submit > button {
  background-color: #596d48;
  margin: 2rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 10em;
  color: white;
}

h1 {
  font-size: clamp(1em, 8vw, 2em);
}

/* .form-submit > button:disabled {
  opacity: 0.9;
} */

.right-bottom > p {
  margin-left: 2rem;
}

.already-login > a {
  text-decoration: none;
  color: #596d48;
}

.right-middle {
  padding: 0.3rem 2rem;
  min-height: 16.6rem;
}

form.account-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 23rem;
}
.form-heading,
.row1,
.row2,
.row3 {
  display: flex;
  gap: 2rem;
}

.row1 > div,
.row2 > div,
.row3 > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

form label {
  font-size: clamp(0.5rem, 1vw, 0.9rem);
  font-weight: 600;
  padding-bottom: 0.1rem;
  color: #3e3e3e;
}

form input {
  width: 100%;
  height: 1.7rem;
  border: solid 1px #e5e7eb;
  border-radius: 3px;
  outline: none;
  padding: 0.5rem;
  font-size: max(0.6rem, 1.3vw);
}

form input:focus {
  border-color: blue;
  box-shadow: black 0px 0px 2px 0px;
}

form input:not(:focus):not(:placeholder-shown):invalid {
  border-color: rgb(255, 0, 0);
  box-shadow: black 0px 0px 2px 0px;
}

form input:not(:focus):not(:placeholder-shown):valid {
  border-color: rgb(2, 129, 0);
  box-shadow: black 0px 0px 2px 0px;
}

/* passoword confirmation styles */
.error-message {
  font-size: 0.5rem;
  color: red;
  display: none;
}

.show-error {
  display: block;
}
/* comment to adjust later */
/* left-padding of all the right side elements can be
adjusted to be responsive on mobile */
